.intro{::first-line
         {
          background-color: red;
        }

 #butao{
    background-color: magenta;
    color: white;
    padding: 25px;
    text-align: center;
       
a:visited {
  color: #00FF00;
}

.list{ 
        background-color: #FF0000;
    }
