.intro{::first-line
         {
          background-color: red;
        }

       #COLOR_MOUSE {
    background-color: magenta;
    color: white;
    padding: 25px;
    text-align: center;
}
       div {
    display: block;
    unicode-bidi: isolate;}

       
a:visited {
  color: #00FF00;
}

.list{ 
        background-color: #FF0000;
    }
