.intro{::first-line
         {
          background-color: red;
        }

  .butao div:hover {
  background-color: blue;
}
       
a:visited {
  color: #00FF00;
}

.list{ 
        background-color: #FF0000;
    }
